:root {
  --main-color: rgb(234, 85, 1);
  --main-color-opacity: 13, 110, 253;
  --heading-color: #15161C;
  --heading-font: "Titillium Web", sans-serif;
  --body-font: "Archivo", sans-serif;
  --body-color: #737373;
  --white-color: #ffffff;
}
body {
  font-family: var(--body-font);
  font-size: 16px;
  background-color: #fafafa;
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1170px;
  }
}
h1,h2,h3,h4,h5,h6 {
  font-family: var(--heading-font);
}
/*------------------- 3.1. Preloader -------------------*/
.preloader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background-color: var(--heading-color);
}
.preloader .btn {
  padding: 15px 20px;
  border-radius: 0;
  font-size: 14px;
  text-transform: capitalize;
}
.preloader .btn:after {
  border-radius: 0;
}

.preloader-inner {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1;
}
.preloader-inner img {
  display: block;
  margin: 0 auto 10px auto;
}

.loader {
  color: #ffffff;
  font-size: 45px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
  display: inline-block;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%, 95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%, 59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/***default-btn-area***/
.btn {
  position: relative;
  z-index: 2;
  vertical-align: middle;
  display: inline-flex;
  gap: 15px;
  border: none;
  border-radius: 0px !important;
  text-align: center;
  background-color: var(--main-color);
  color: var(--white-color);
  font-family: var(--heading-font);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  padding: 19px 30px;
  overflow: hidden;
  align-items: center;
}
.btn::after, .btn::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--heading-color);
  transition: 1s ease;
}
.btn:before {
  top: -2em;
  left: -2em;
}
.btn:after {
  left: calc(100% + 2em);
  top: calc(100% + 2em);
}
.btn i {
  font-size: 20px;
}
.btn:focus, .btn:hover, .btn:active {
  color: var(--white-color);
  box-shadow: none;
}
.btn:focus:after, .btn:focus:before, .btn:hover:after, .btn:hover:before, .btn:active:after, .btn:active:before {
  height: 410px;
  width: 410px;
}
.btn.style2:before, .btn.style2:after {
  background-color: var(--white-color);
}
.btn.style2:active, .btn.style2:focus, .btn.style2:hover {
  color: var(--heading-color);
}
.btn.style3 {
  background: var(--heading-color);
}
.btn.style3:before, .btn.style3:after {
  background-color: var(--main-color);
}
.btn.style4 {
  background: #fafafa;
  color: var(--main-color);
}
.btn.style4:after, .btn.style4:before {
  background: var(--main-color);
}
.btn.style4:active, .btn.style4:focus, .btn.style4:hover {
  color: var(--white-color);
}
.btn.style5 {
  background: var(--white-color);
  color: var(--heading-color);
}
.btn.style5:after, .btn.style5:before {
  background: var(--heading-color);
}
.btn.style5:active, .btn.style5:focus, .btn.style5:hover {
  color: var(--white-color);
}
.btn.style6 {
  background: var(--white-color);
  color: var(--main-color);
}
.btn.style6:after, .btn.style6:before {
  background: var(--heading-color);
}
.btn.style6:active, .btn.style6:focus, .btn.style6:hover {
  color: var(--white-color);
}
.btn.style-border {
  color: var(--);
  border: 2px solid rgba(21, 22, 28, 0.1);
  background: transparent;
}
.btn.style-border:before, .btn.style-border:after {
  background: var(--heading-color);
}
.btn.style-border:active, .btn.style-border:focus, .btn.style-border:hover {
  color: var(--white-color);
}
.btn.style-border2 {
  color: var(--heading-color);
  border: 1px solid var(--heading-color);
  background: transparent;
  padding: 23px 30px 19px;
}
.btn.style-border2:before, .btn.style-border2:after {
  background: var(--heading-color);
}
.btn.style-border2:active, .btn.style-border2:focus, .btn.style-border2:hover {
  color: var(--white-color);
}
.btn.style-border3 {
  color: var(--heading-color);
  border: 1px solid var(--main-color);
  background: transparent;
  padding: 23px 30px 19px;
}
.btn.style-border3:before, .btn.style-border3:after {
  background: var(--main-color);
}
.btn.style-border3:active, .btn.style-border3:focus, .btn.style-border3:hover {
  color: var(--white-color);
}
.btn.style-r0 {
  border-radius: 0 !important;
}
.btn.style-r0:before {
  border-radius: 0;
}
.btn.style-radius {
  border-radius: 100px !important;
}
.btn.w-100 {
  text-align: center;
  justify-content: center;
}
.btn.w-100:hover {
  background: var(--heading-color);
}
/*------------------------------------------------
    ## Back Top
------------------------------------------------*/
#back-to-top {
  display: inline-block;
  background-color: var(--main-color);
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 0px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  animation: backto-top-bounce 4s infinite ease-in-out;
  visibility: hidden;
  z-index: 1000;
}
#back-to-top::after {
  content: "";
  position: absolute;
  background: #fff;
  top: 50%;
  margin-top: -2.5px;
  height: 3px;
  width: 14px;
  line-height: 50px;
  transform: rotate(
-43deg
);
  left: 8.5px;
}
#back-to-top::before {
  content: "";
  position: absolute;
  background: #fff;
  top: 50%;
  margin-top: -2.5px;
  height: 2px;
  width: 12px;
  line-height: 50px;
  transform: rotate(
50deg
);
  right: 10.5px;
}
#back-to-top:hover {
  cursor: pointer;
  background-color: #4285F4;
}
#back-to-top:active {
  background-color: #4285F4;
}
#back-to-top.show {
  opacity: 1;
  visibility: visible;
}
/* .back-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 44px;
  height: 44px;
  color: #fff;
  background-color: var(--main-color);
  text-align: center;
  line-height: 44px;
  z-index: 99;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: none;
  animation: backto-top-bounce 4s infinite ease-in-out;
  border-radius: 4px;
} */
@keyframes backto-top-bounce {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}
/***navbar-area***/
.navbar-area {
  background: transparent;
  padding: 0;
  top: 0;
  position: fixed;
  z-index: 98;
  width: 100% !important;
  transition: all 0.4s;
  background: transparent;
}
.navbar {
  background: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: all 0.3s linear;
}
.top-nav-collapse {
  box-shadow: 0px 4px 6px 0px rgb(12 0 46 / 5%);
  top: 0;
  padding: 0;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.88);
}
.navbar-area .nav-container {
  transition: all 0.4s;
  padding: 16px 12px;
}
.top-nav-collapse .nav-container {
  background-color: transparent;
  padding: 16px 12px;
  transition: all 0.4s;
}
.navbar-area .nav-container .navbar-collapse .navbar-nav li {
  margin-top: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 50px;
  text-transform: capitalize;
}
.navbar-area .nav-container .navbar-collapse .navbar-nav li a {
  color: var(--heading-color);
  font-size: 18px;
  font-weight: 600;
  font-family: var(--heading-font);
  text-decoration: none;
}
.navbar-area .nav-container .navbar-collapse .navbar-nav li + li {
  margin-left: 30px;
}
.nav-right-part-desktop {
  margin-left: 30px;
}
.nav-right-part ul {
  padding: 0;
  margin: 0;
  display: inline-flex;
}
.nav-right-part ul li {
  list-style: none;
  align-self: center;
}
.nav-right-part-mobile {
  display: none;
}
.nav-right-part-mobile ul li a {
  text-decoration: none;
  color: #fff;
  padding: 0 10px;
}
.nav-right-part-mobile ul li .cart {
  display: none;
}
.nav-right-part-mobile ul li .cart img {
  height: 20px;
  width: 20px;
  filter: invert(1);
}
/***banner-area***/
.banner-area {
  padding: 250px 0px 250px;
  background-size: cover !important;
  position: relative;
  background-position: center !important;
  overflow: hidden;
  background: fixed;
  background-color: #fff;
}
.banner-area:after {
  content: "";
  position: absolute;
  /* background: #080C24; */
  opacity: 0.98;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.banner-area .sidebar-links {
  position: fixed;
  right: 0;
  top: 50%;
  display: inline-block;
  margin-right: -111px;
  transition: 0.4s;
  transform: translateY(-50%);
  margin-top: -70px;
  z-index: 9;
}
.banner-area .sidebar-links:hover {
  margin-right: 0;
}
.banner-area .sidebar-links .btn {
  border-radius: 0;
  margin-bottom: 5px;
  width: 100%;
  padding: 15px 18px;
  display: block;
  margin-right: 0;
  text-align: start;
}
.banner-area .sidebar-links .btn i {
  margin-right: 18px;
  font-size: 22px;
  float: left;
  margin-top: -4px;
}
.banner-inner {
  position: relative;
  z-index: 9;
}
.banner-inner .btn-area {
  display: inline-flex;
  gap: 20px;
  flex-wrap: wrap;
}
.banner-logo {
  animation: 1.5s 0.4s fadeInUp both;
}
.banner-inner h1 {
  line-height: 1;
  font-weight: 700;
  font-size: 74px;
  margin-bottom: 25px;
  animation: 1.5s 0.4s fadeInUp both;
}
.banner-inner h1 span {
  color: #ffd934;
  display: block;
}
.banner-inner p {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 36px;
}
.banner-inner .me-5 {
  animation: 1.5s 0.6s fadeInUp both;
}
.banner-inner .banner-counter-wrap {
  animation: 1.5s 0.7s fadeInUp both;
}
.banner-inner .single-counter-inner .details h2 {
  /* color: #fff; */
}
.hero-thumb-wrap {
  text-align: center;
  position: relative;
  padding-top: 72px;
  padding-bottom: 120px;
  margin: 0 100px;
  z-index: 1;
}
.hero-thumb-wrap .hero-thumb6,
.hero-thumb-wrap .hero-thumb5,
.hero-thumb-wrap .hero-thumb4,
.hero-thumb-wrap .hero-thumb3,
.hero-thumb-wrap .hero-thumb2,
.hero-thumb-wrap .hero-thumb1 {
  box-shadow: 7px -7px 20px 0px rgba(40, 40, 40, 0.25);
  border-radius: 10px;
  display: inline-block;
  overflow: hidden;  
}
.hero-thumb-wrap .hero-thumb2 {
  bottom: 15px;
  left: 0;
  position: absolute;
}
.hero-thumb-wrap .hero-thumb3 {
  bottom: 0;
  right: 112px;
  position: absolute;
}
.hero-thumb-wrap .hero-thumb4 {
  top: 0;
  right: 0;
  z-index: -1;
  position: absolute;
}
.hero-thumb-wrap .hero-thumb5 {
  top: 0;
  left: 106px;
  z-index: -1;
  position: absolute;
}
.hero-thumb-wrap .hero-thumb6 {
  bottom: -50px;
  left: 50%;
  margin-left: -225px;
  position: absolute;
}

.hero-thumb-wrap .hero-thumb1 img {
  max-width: 722px;
}
.hero-thumb-wrap .hero-thumb2 img {
  max-width: 500px;
}
.hero-thumb-wrap .hero-thumb3 img {
  max-width: 350px;
}
.hero-thumb-wrap .hero-thumb4 img {
  max-width: 450px;
}
.hero-thumb-wrap .hero-thumb5 img {
  max-width: 360px;
}
.hero-thumb-wrap .hero-thumb6 img {
  max-width: 450px;
}
.jump-reverse {
  animation: jumpReverseAni 7s linear infinite;
}
@keyframes jumpReverseAni {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}
.jump {
  animation: jumpAni 7s linear infinite;
}
.jump1 {
  animation: jumpAni 6s linear infinite;
}
.jump2 {
  animation: jumpAni 5s linear infinite;
}
.jump3 {
  animation: jumpAni 4s linear infinite;
}
@keyframes jumpAni {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
/********* single-counter-inner *********/
.counter-area {
  transform: translateY(-50%);
}
.counter-area-inner {
  background: var(--main-color);
  padding: 50px 0 0 0;
  border-radius: 10px;
}
.single-counter-inner {
  margin-bottom: 50px;
}
.single-counter-inner h2 {
  font-size: 54px;
  font-weight: 700;
  color: #fff;
}
.single-counter-inner p {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
  color: #ffffff;
}

/***inner-item***/
.inner-item {
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}
.inner-item .al-batch {
  height: 50px;
  width: 50px;
  font-size: 14px;
  background: #ff8400;
  border-radius: 50%;
  position: absolute;
  right: -12px;
  top: -20px;
  line-height: 50px;
  color: #fff;
  font-weight: 600;
}
/* .inner-item .thumb img {
  transition: transform 5000ms cubic-bezier(.455, .030, .515, .955);
} */
/* .inner-item:hover .thumb img {
  transform: translateY(calc(-100% + 430px));
} */
.inner-item a {
  display: block;
  font-size: 22px;
  font-weight: 500;
  color: #1d1d1d;
  text-decoration: none;
  position: relative;
}
.inner-item a .thumb {
  overflow: hidden;
  display: block;
  position: relative;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: 0px 5px 50px 0px rgb(0 0 0 / 20%);
  min-height: 430px;
  transition: 0.6s;
}
.inner-item a .thumb:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}
.inner-item a img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scale(1) translateY(1);
  transition: transform 12s;
  display: block;
  width: 100%;
  height: initial;
}
.inner-item:hover a .thumb:after {
  visibility: visible;
  opacity: 1;
}
.header-item {
  display: block;
}
.header-item .thumb {
  position: relative;
  display: block;
}
.header-item .thumb:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
  border-radius: 5px;
}
.header-item .thumb img {
  transition: 0.4s;
  border-radius: 5px;
}
.header-item:hover .thumb img {
  transform: scale(1.05);
}
.header-item:hover .thumb:after {
  visibility: visible;
  opacity: 1;
  transform: scale(1.05);
}

.inner-item.coming-soon a .thumb img {
  filter: blur(12px);
}
.cm-soon-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.inner-item:hover .cm-soon-title {
  color: #fff;
}
.inner-item .btn-group {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #fff;
  margin-top: -22px;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
  gap: 20px;
  flex-wrap: wrap;
}
.inner-item .btn-group .btn {
  font-size: 14px;
  width: 100%;
  border-radius: 3px !important;
  font-weight: 700;
  color: #ffffff;
  min-width: 190px;

}
.inner-item .item-title {
  font-size: 18px;
}
.inner-item:hover .btn-group {
  visibility: visible;
  opacity: 1;
}

/***section-title***/
.section-title {
  margin-bottom: 60px;
}
.section-title h5 {
  font-weight: 600;
  color: var(--main-color);
  margin-bottom: 6px;
}
.section-title h2 {
  font-size: 42px;
  font-weight: 700;
  color: var(--heading-color);
}
.section-title p {
  font-size: 18px;
  font-weight: 400;
  color: var(--body-color);
}
/***default-padding***/
.pd-top-100 {
  padding-top: 100px;
}
.pd-top-47 {
  padding-top: 47px;
}
.pd-top-70 {
  padding-top: 70px;
}
.pd-top-87 {
  padding-top: 87px;
}
.pd-top-110 {
  padding-top: 110px;
}
.pd-top-120 {
  padding-top: 120px;
}
.pd-top-135 {
  padding-top: 135px;
}
.pd-top-130 {
  padding-top: 130px;
}
.pd-top-140 {
  padding-top: 140px;
}
.pd-top-150 {
  padding-top: 150px;
}

.pd-bottom-100 {
  padding-bottom: 100px;
}
.pd-bottom-97 {
  padding-bottom: 97px;
}
.pd-bottom-65 {
  padding-bottom: 65px;
}
.pd-bottom-105 {
  padding-bottom: 105px;
}
.pd-bottom-110 {
  padding-bottom: 110px;
}
.pd-bottom-120 {
  padding-bottom: 120px;
}
.pd-bottom-130 {
  padding-bottom: 130px;
}
.pd-bottom-140 {
  padding-bottom: 140px;
}
.pd-bottom-150 {
  padding-bottom: 150px;
}

.typed::after {
  content: "|";
  display: inline;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/
.typed-cursor {
  opacity: 0;
  display: none !important;
}
/*Custom cursor animation*/
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media all and (max-width: 1599px) {
  .banner-area {
    padding: 220px 0px 200px;
  }
  .hero-thumb-wrap .hero-thumb5 {
    left: 0;
  }
  .hero-thumb-wrap .hero-thumb4 img {
    max-width: 400px;
  }
  .hero-thumb-wrap .hero-thumb2 img {
    max-width: 360px;
  }
  .hero-thumb-wrap .hero-thumb3 {
    right: 20px;
  }
  .hero-thumb-wrap .hero-thumb6 img {
    max-width: 300px;
  }
  .hero-thumb-wrap .hero-thumb6 {
    bottom: -20px;
    margin-left: -150px;
  }
}
@media all and (max-width: 1199px) {
  .hero-thumb-wrap {
    display: none;
  }
  .banner-area .bg-image {
    opacity: 0.2;
    z-index: 0;
  }
  .banner-inner p {
    margin: 0 20px !important;
  }
  .btn {
    height: 50px;
    line-height: 50px;
  }
  .pd-top-140 {
    padding-top: 100px;
  }
  .pd-bottom-97 {
    padding-bottom: 57px;
  }
  .pd-top-87 {
    padding-top: 47px;
  }
  .banner-area {
    padding: 228px 0px 218px;
  }
}
@media all and (max-width: 991px) {
  .nav-right-part-mobile {
    display: block;
  }
  .banner-inner h1 {
    font-size: 70px;
  }
}
@media all and (max-width: 575px) {
  .nav-right-part-desktop {
    margin-left: 10px;
  }
  .section-title h5 {
    font-size: 18px;
  }
  .counter-area {
    transform: translateY(0);
    margin-top: 140px;
  }
  .single-counter-inner h2 {
    font-size: 30px;
  }
}
@media all and (max-width: 767px) {
  .nav-right-part ul li .btn {
    display: none;
  }
  .nav-right-part-mobile ul li .cart {
    display: block;
  }
  .nav-right-part-desktop {
    margin-left: 0px;
  }
  .banner-inner h1 {
    line-height: 46px;
    font-size: 33px;
    margin-bottom: 15px;
  }
  .banner-inner p {
    font-size: 18px;
    line-height: inherit;
    letter-spacing: 0;
  }
  .banner-inner p span {
    font-size: 20px;
  }
  .banner-area {
    padding: 180px 0px 100px;
  }
  .section-title h2 {
    font-size: 30px;
  }
  .btn {
    padding: 0 21px;
  }
  .footer-widget.pd-bottom-100 {
    padding-bottom: 70px;
  }
  .footer-widget h5 {
    font-size: 16px;
  }
  .main-logo img {
    width: 160px;
  }
}
@media all and (max-width: 320px) {
  .main-logo img {
    width: 110px;
  }
  .nav-right-part ul li {
    font-size: 15px;
  }
  .nav-right-part ul li a {
    padding: 0 7px;
  }
}
.featured-item {
  box-shadow: 0 0 40px rgb(82 85 90 / 10%);
  text-align: center;
  margin-bottom: 30px;
  padding: 40px 20px 35px 20px;
  background: #fff;
  border-radius: 5px;
  color: #1d1d1d;
  font-size: 22px;
}
.featured-item img {
  display: block;
  margin: 0 auto 20px;
  box-shadow: 0 0 40px rgb(82 85 90 / 20%);
  border-radius: 50%;
}
.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding: 25px 0;
  position: relative;
  z-index: 2;
}
.footer-bottom p {
  margin-bottom: 0;
  color: #fff;
}
.footer-bottom p a {
  color: #ff8400;
  text-decoration: none;
  font-weight: 600;
}
.footer-area {
  position: relative;
}
.footer-widget {
  position: relative;
  z-index: 9;
}

.single-pricing-wrap {
  border: 2px solid #e9e9e9;
  padding: 60px;
  margin-bottom: 30px;
  background: #fff;
}
.single-pricing-wrap .price {
  border-bottom: 1px solid #eaeaea;
  margin-top: -7px;
  padding-bottom: 10px;
  margin-bottom: 31px;
}
.single-pricing-wrap .price span {
  display: inline-block;
}
.single-pricing-wrap span.title {
  font-size: 24px;
  margin-bottom: 15px;
  display: inline-block;
}
.single-pricing-wrap .price h2 {
  display: inline-block;
  font-size: 45px;
}
.single-pricing-wrap .pricing-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 33px;
}
.single-pricing-wrap .pricing-list li {
  font-size: 16px;
  margin-bottom: 10px;
}
.single-pricing-wrap .pricing-list li:last-child {
  margin-bottom: 0;
}
.single-pricing-wrap .pricing-list li.unable {
  color: #cdcdcd;
}
.single-pricing-wrap .pricing-list li i {
  margin-right: 20px;
}
.single-pricing-wrap .more-work-btn {
  width: 100%;
}
.single-pricing-wrap .primary-btn {
  background: var(--heading-color);
}
.video-play-btn {
  border-radius: 50%;
  background: #f7f7f7;
  width: 90px;
  height: 90px;
  display: inline-block;
  line-height: 100px;
  position: relative;
  z-index: 0;
  text-align: center;
  animation: ripple-white3 2.5s linear infinite;
  z-index: 9;
}
.video-play-btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: rgba(247, 247, 247, 0.4);
  top: -10px;
  left: -10px;
}
.video-play-btn i {
  color: #585858;
  margin-left: 6px;
  font-size: 28px;
}
@keyframes ripple-white3 {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
      0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1),
      0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 100px rgba(255, 255, 255, 0);
  }
}
